<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duol.shop.dao.VarietyDao">
    <select id="queryAllVariety" resultType="Variety">
        SELECT *
        FROM tb_variety
        ORDER BY variety_id ASC;
    </select>

    <insert id="insertVariety" parameterType="Variety">
        INSERT tb_variety VALUES (#{varietyId}, #{varietyName}, #{parentId}, #{type},
                                  current_timestamp, current_timestamp)
    </insert>

    <update id="updateVariety" parameterType="Variety">
        UPDATE tb_variety
        SET variety_name = #{varietyName},
            parent_id    = #{parentId},
            type         = #{type},
            update_time  = current_timestamp
        WHERE variety_id = #{varietyId};
    </update>

    <delete id="deleteVariety">
        DELETE FROM tb_variety
        WHERE variety_id = #{varietyId};
    </delete>
</mapper>